version: "3.8"
services:
  proxy-nginx:
    image: nginx:1.27-alpine
    container_name: k8s-proxy-nginx
    ports:
      - "20080:20080"
      - "21080:21080"
      - "20443:20443"
      - "28080:8080"
      # consul-ui
      - "28500:8500"
      # kiali
      - "20001:20001"
      # hyperdx
      - "23000:3000"
      - "28123:8123"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    # Ensure host.docker.internal resolves on Linux too
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
